@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "manrope";
  src: url(../fonts/Manrope-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "manrope-bold";
  src: url(../fonts/Manrope-ExtraBold.ttf) format("truetype");
}

html {
  font-family: "manrope", sans-serif;
}

.font-extrabold {
  font-family: "manrope-bold", sans-serif;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 7px;
  background: hsl(224, 65%, 95%);
  border-radius: 5px;
  background-image: linear-gradient(hsl(174, 77%, 80%), hsl(174, 77%, 80%));
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: hsl(174, 86%, 45%);
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: ew-resize;
  box-shadow: 5px 10px 50px 0px #10d5c2;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
